--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn[standard]
python-multipart
python-dotenv
pypdf
docx2txt
langchain
langchain-huggingface
sentence-transformers
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
langchain-qdrant
qdrant-client
pydantic
redis
tenacity
gunicorn
faster-whisper
gTTS
