fastapi
uvicorn[standard]
python-multipart
python-dotenv
pypdf
docx2txt
langchain
langchain-groq
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
langchain-qdrant
qdrant-client
pydantic
redis
tenacity
gunicorn
groq
gTTS
